body {
  padding-top: 50px;
    background-color: darkgrey;
}

/* ------- navegation menu ---------- */
.nav {
    padding: 20px;
    
    
}
#logo-faro {
    border: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    font-weight: 500;
    margin: 10px;
    margin-bottom: 20px;
    padding-bottom: 50px;
    
    
    
    
    
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: -0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* ---- SOBRE NOSOTROS TAB ----- */
#nosotros {
    background-color: rgba(0,0,0,1);
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 1%;
}

#nosotros h1 {
        padding: 10px;
        text-align: center;
    }
    
    
  
}

.tab-content {
    padding-left: 10px;
}

#nosotros .nav-tabs {
    background-color: black;
    color: white;
}




/* --------------- Carousel SLICK --------------- */


.image {
    position: relative;  
}

.image h1 {
    position:absolute;
    top: 100px;
    right: 90px;
    font-size: 50px;
}

.autoplay img {
    width: 100px;    
}

/* -------------------  FOOTER ---------------- */

footer {
    background-color: black;
        color: white;
}

#contact i {
    font-size: 40px;
    margin: 20px;
}

